body{
    background-color:blue;
}
div{
    color:black;
    font: normal 18pt arial;
}
h1{
    color: white;
    font: normal 18pt arial;
    text-align: center;
}
footer{
    color: white;
    font: normal 18pt arial;
    text-align: center;
}
section{
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.795);
    background-color: rgb(255, 255, 255);
}